body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin-top: 70px;
    font-weight: lighter;
    font-size: 30px;
}

h3 {
    font-weight: lighter;
    font-size: 20px;
}

.header h3 {
    margin-top: -35px;
}

.header a {
    font-size: 12px;
}

button:hover {
    background-color:rgb(224, 224, 224) ;
}

#input-container {
    margin: auto;
    width: 260px;
    height: auto;
    padding: 40px;
    padding-top: 30px;
    border-radius: 25px 25px;
    box-shadow: 0 0 35px 3px rgb(131 131 131);
}

#input-container, .header, #list-container{
    text-align: center;
    margin-top: 40px;
    background-color:white;
}

input {
    width: 200px;
    padding: 8px;
    margin-top: 12px;
    border-radius: 8px 8px;
    border: none;
    box-shadow: 0px 0px 5px 1px rgb(131, 131, 131);
}

#add-button, #fast-track-button {
    width: 200px;
    padding: 8px;
    margin-top: 24px;
    border-radius: 8px 8px;
    border: 1px solid rgb(95, 95, 95);
    box-shadow: 0px 0px 10px 2px rgb(131, 131, 131);
    font-size: large;
}

#list-container {
    margin: auto;
    margin-top: 100px;
    width: 700px;
}

li {
    width: 600px;
    background-color: rgb(214, 214, 214);
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    border-radius: 10px 10px;
}

li button {
    float: right;
    width: 80px;
    margin-left: 5px;
    border-radius: 5px 5px;
    border: 1px solid rgb(95, 95, 95);
    padding: 3px;
    font-weight: bold;
}

.full-name {
    padding-left: 10px;
    padding-right: 20px;
}

.check-in-button {
    color: rgb(0, 95, 0);
}

.delete-button {
    color: rgb(133, 6, 6);
}